
<div class="jumbotron">
    <button onclick="getRandomClick()">
        Click Here for random number
    </button>

</div>
<script>
    function getRandomClick() {
        console.log("made it to randomclick");
        var int = @Html.Action("GetInt", "Home");
        alert(int);
    }
</script>


